word/theSourceCode/spring-framework-5.2.x/spring-study/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.mashibing.com/schema/user"
		elementFormDefault="qualified">

	<!--
	【xmlns:tns】必须和【targetNamespace】对应
	-->

	<element name="user">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="username" type="string"/>
			<attribute name="email" type="string"/>
			<attribute name="password" type="string"/>
		</complexType>
	</element>

</schema>